body
{
   background-color: rgb(100, 144, 137);
   
   
}
.hi {
   border: 5px solid;
   border-radius: 50px;
   border-width: 5px;
   width: 200px;
   height: 150px;  
}
button{
    border-radius: 30px;
    background: linear-gradient(45deg, rgb(202, 31, 99),rgb(30, 131, 165));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
